<div *ngIf="contact !== null; else noContact">
  <p>ID: {{contact.id}}</p>
  <p>Imię: {{contact.firstName}}</p>
  <p>Nazwisko: {{contact.lastName}}</p>
  <p>Email: {{contact.email}}</p>
  <p>Kategoria: {{contact.category}}</p>
  <p *ngIf="contact.subcategory!=null">Podkategoria: {{contact.subcategory}}</p>
  <p>Telefon: {{contact.phone}}</p>
  <p>Data urodzenia: {{contact.dateOfBirth}}</p>
</div>
<ng-template #noContact>
  <p>Nie znaleziono kontaktu :c</p>
</ng-template>
<div>
  <button type="button" routerLink="/contacts">
    Powrót do listy kontaktów.
  </button>
</div>
