<form (ngSubmit)="register()">
  <div>
    <label for="name">Name:</label>
    <input type="email" [(ngModel)]="name" name="name" required placeholder="Wpisz imię" />
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email" required placeholder="Wpisz email" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="password" name="password" required placeholder="Wpisz hasło" />
  </div>

  <button type="submit">Register</button>
</form>
